.resultBigCont {

    .btns {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .listFormCont {
        margin-top: 100px;
        width: 500px;
        height: 430px;
        background-color: red;
        border-radius: 12px;
        box-shadow: 3px 4px 2px 0px #F5F5F5;
        background-color: #fff;
        padding: 33px 43px 12px;
        transition: 400ms;


        .createItem {
            display: flex;
            justify-content: center;
            background-color: #F2F6F6;
            width: 200px;
            padding: 10px 20px;
            font-size: 14px;
            margin-left: 23%;
            border-radius: 25px;
            margin-top: 40px;
        }

        .headding-form {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #038477;



        }

        .listsResult::-webkit-scrollbar {
            display: none;
        }

        .listsResult {
            height: 200px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0px 12px;
            width: 100%;
            margin-top: 40px;
            overflow-y: scroll;
            // -ms-overflow-style: none;
            // scrollbar-width: none;

            .listResult {
                display: flex;
                width: 100%;
                height: 44px;
                align-items: center;
                border: 1px solid #787878;
                padding: 0px 15px 0px 15px;
                border-radius: 20px;

                .listLink {
                    display: flex;
                    height: 100%;
                    width: 90%;
                    justify-content: space-evenly;

                    .firstPartData {
                        border-right: 1px solid #787878;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        flex-grow: 1;


                        .resultText {
                            font-size: 14px;
                        }
                    }

                    .secondPartdata {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-right: 1px solid #787878;
                        padding: 5px;


                        .resultText {
                            font-size: 14px;
                        }
                    }
                }



                .deleteIcon {
                    padding: 0px 0px 0px 8px;
                    cursor: pointer;
                }
            }
        }
    }
}