.line-cont {
    width: 100%;
    height: 22px;
    border-radius: 8px;
    position: relative;
    background-color: #F2F6F6;
    margin-top: 18px;

    .line {
        height: 22px;
        border-radius: 8px;
        position: absolute;
        background-color: #038477;
        transition: 500ms;
    }


}